{% extends "layout.html" %}

{% block body %}

    <title> ADD-DEPENDENT</title>

    <h1> &nbsp; &nbsp; &nbsp; &nbsp; <div class="badge bg-primary text-wrap" style="width: 15rem;">
        Add a dependent</div> 
    </h1>
    <br>
    <form class="row g-3", action="http://127.0.0.1:5000/adddependent" method="POST">
        <div class="col-md-5">
            <label for="inputPassword4" class="form-label">Dependent Name</label>
            <input type="text" class="form-control" id="inputPassword4" name="Dname">
        </div>
        <div class="col-md-3">
        &nbsp;&nbsp; <label for="inputZip" class="form-label">Dependant SSN</label>
        <input type="number" class="form-control" id="inputZip" name="Dssn">
        </div>
        <div class="col-md-5">
          <label for="inputPassword4" class="form-label">Relationship</label>
          <input type="text" class="form-control" id="inputPassword4" name="relationship">
      </div>
      <div class="col-md-3">
        &nbsp;&nbsp; <label for="inputZip" class="form-label">Patient SSN</label>
        <input type="number" class="form-control" id="inputZip" name="PSSN">
    </div>
        <div class="col-md-3">
            <label for="inputZip" class="form-label">Age</label>
            <input type="number" class="form-control" id="inputZip" name="age">
        </div>
        <div class="col-md-3">
            <label for="inputState" class="form-label">Gender</label>
            <select id="inputState" class="form-select" name="gender">
              <option selected>Choose...</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="inputZip" class="form-label">Phone</label>
            <input type="tel" class="form-control" id="inputZip" name="phone">
        </div>
       <br><br>
       <div class="col-12">
        &nbsp;&nbsp; &nbsp;  <button type="submit" class="btn btn-primary">Submit</button>
       </div>
    </form> 
{% endblock %}












