{% extends "layout.html" %}
{% block body %}


<form action="http://localhost:5000/adddoctor" method="POST">
<div class="container">
<div class="row">
  <div class="col">
    <input type="text" class="form-control" placeholder="Fname" aria-label="Fname" name="Fname" required>
  </div>
</div>

<div class="row">
    <div class="col">
    <input type="text" class="form-control" placeholder="Lname" aria-label="Lname" name="Lname" required>
    </div>
</div>

<div class="row">
  <div class="col">
    <input type="text" class="form-control" placeholder="address" aria-label="address" name="address" required>
  </div>
</div>

<div class="row">
    <div class="col">
    <input type="number" class="form-control" placeholder="age" aria-label="age" name="age" required>
    </div>

</div>
<div class="row">
  <div class="col">
    <input type="number" class="form-control" placeholder="phone" aria-label="phone" name="phone" required>
  </div>
</div>

<div class="row">
    <div class="col">
    <input type="text" class="form-control" placeholder="gender" aria-label="gender" name="gender" required>
    </div>
</div>

<div class="row">
  <div class="col">
    <input type="number" class="form-control" placeholder="DSSN" aria-label="DSSN" name="DSSN" required>
  </div>
<div class="row">
    <div class="col">
      <input type="number" class="form-control" placeholder="RNum" aria-label="RNum" name="RNum" required>
    </div>
</div>
   
<div class="row">
    <div class="col">
      <input type="number" class="form-control" placeholder="salary" aria-label="salary" name="salary" required>
    </div>
</div>
        <input type="submit" value="Submit">
</div>
</div>
</form>


      {% endblock %}
