{% extends "layout.html" %}

{% block body %}

    <title> ADD-NURSE</title>

    <h1> &nbsp; &nbsp; &nbsp; &nbsp; <div class="badge bg-primary text-wrap" style="width: 15rem;">
        Add a nurse</div> 
    </h1>
    <br>
    <form class="row g-3", action="http://127.0.0.1:5000/addnurse" method="POST">
        <div class="col-md-5">
            &nbsp;&nbsp; <label for="inputEmail4" class="form-label">First Name</label>
            <input type="text" class="form-control" id="inputEmail4" name="nurse First Name">
        </div>
        <div class="col-md-5">
            <label for="inputPassword4" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="inputPassword4" name="nurse Last Name">
        </div>
        <div class="col-md-3">
            &nbsp;&nbsp; <label for="inputZip" class="form-label">Nurse SSN</label>
            <input type="number" class="form-control" id="inputZip" name="nurse SSN" min="6" required>
        </div>
        <div class="col-md-3">
            <label for="inputZip" class="form-label">Age</label>
            <input type="number" class="form-control" id="inputZip" name="nurse Age">
        </div>
        <div class="col-md-3">
            <label for="inputState" class="form-label">Gender</label>
            <select id="inputState" class="form-select" name="nurse Gender">
              <option selected>Choose...</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="inputZip" class="form-label">Phone</label>
            <input type="tel" class="form-control" id="inputZip" name="nurse Phone">
        </div>
        <div class="col-12">
            &nbsp;&nbsp; <label for="inputAddress" class="form-label">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="nurse Address">
        </div>
        <div class="col-md-3">
            &nbsp;&nbsp; <label for="inputZip" class="form-label">Salary</label>
            <input type="number" class="form-control" id="inputZip" name="nurse Salary">
        </div>
        <div class="col-md-3">
            <label for="inputZip" class="form-label">Care Room</label>
            <input type="number" class="form-control" id="inputZip" name="nurse Care Room">
        </div>
        <div class="col-md-3">
            <label for="inputZip" class="form-label">Supervised by:</label>
            <input type="number" class="form-control" id="inputZip" placeholder="Doctor SSN" name="nurse Supervisor">
        </div>
       <br><br>
       <div class="col-12">
        &nbsp;&nbsp; &nbsp;  <button type="submit" class="btn btn-primary">Submit</button>
       </div>
    </form> 
{% endblock %}
